<div class="row">
    <div class="col-md-3"><div class="widget bg-success text-white text-center p-3 rounded"><h4>My Conversion Rate</h4><div id="my_conversion_rate">Loading…</div></div></div>
    <div class="col-md-3"><div class="widget bg-success text-white text-center p-3 rounded"><h4>Team Conversion Rate</h4><div id="team_conversion_rate">Loading…</div></div></div>
    <div class="col-md-3"><div class="widget bg-info text-white text-center p-3 rounded"><h4>Revenue This Month</h4><div id="revenue_this_month">Loading…</div></div></div>
    <div class="col-md-3"><div class="widget bg-success text-white text-center p-3 rounded"><h4>Opportunities Won</h4><div id="opps_won">Loading…</div></div></div>
</div>

<div class="row mt-2">
    <div class="col-md-3"><div class="widget bg-info text-white text-center p-3 rounded"><h4>Demos Today</h4><div id="demos_today">Loading…</div></div></div>
    <div class="col-md-3"><div class="widget bg-danger text-white text-center p-3 rounded"><h4>Lost Opportunities</h4><div id="opps_lost">Loading…</div></div></div>
</div>

<div class="row mt-4">
    <div class="col-md-12"><div id="conversion_chart"></div></div>
</div>
